.tag {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  line-height: 1.5em;
}

.tag::before {
  content: '#';
}

.tag:nth-child(odd) a {
  color: red;
}

/* Copied from HomePage.module.css. */
.empty {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  color: grey;
  margin-top: 70px;
}

/* Only on larger screens show cards. */
@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 55em) {
  .card {
    flex: 0 1 calc(33% - 1em);
  }
}

@media screen and (min-width: 75em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
