.tag {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  line-height: 1.5em;
}

.tag::before {
  content: '#';
}

.tag:nth-child(odd) a {
  color: red;
}

/* Copied from HomePage.module.css. */
.empty {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  color: grey;
  margin-top: 70px;
}
