.header {
  height: 110px;
  padding: 20px 0;
  text-align: center;
  background-color: BlanchedAlmond;
}

/* TODO: does this solution work on mobile? */
.gravatarSection {
}

.textSection {
  padding: 0 12px;
  line-height: 1.5em;
}

.textSection p {
  font-style: italic;
}
