.header {
  height: 100px;
  padding: 20px 0;
  text-align: center;
  background-color: BlanchedAlmond;
}

/* TODO: does this solution work on mobile? */
.gravatarSection {
}

.textSection {
}

.textSection p {
  font-style: italic;
}
