/* Sticky footer: https://css-tricks.com/couple-takes-sticky-footer */
/* Note that we're setting min-height of .content in App.module.css in order for this to work. */
footer.main {
  height: 50px;
  padding-top: 25px;
  text-align: center;
  background-color: BlanchedAlmond;
}

footer nav ul {
  margin: inherit;
  padding: inherit;
}

footer nav ul li {
  display: inline;
}

footer nav ul li + li::before {
  content: " | ";
}
