header.main {
  padding: 20px 0;
  text-align: center;
  background-color: BlanchedAlmond;
}

header.main p {
  font-style: italic;
}

main {
  width: 80%;
  overflow: auto;
  margin: 0 auto;
}

/* Sticky footer: https://css-tricks.com/couple-takes-sticky-footer */
footer.main {
  height: 50px;
  padding-top: 25px;
  text-align: center;
  background-color: BlanchedAlmond;
}

footer nav ul {
  margin: inherit;
  padding: inherit;
}

footer nav ul li {
  display: inline;
}

footer nav ul li + li::before {
  content: " | ";
}

.content {
  min-height: calc(100vh - 100px); /* Sticky footer. */
}

