main {
  width: 80%;
  overflow: auto;
  margin: 0 auto;
}

/* Sticky footer: https://css-tricks.com/couple-takes-sticky-footer */
/* The rest is in Footer.module.css */
.content {
  min-height: calc(100vh - 100px); /* Sticky footer. */
}
