.sentenceList {
  padding: 0;
  display: inline;
  list-style: none;
}

.sentenceList li {
  display: inline;
}

.sentenceList li:after {
  content: ", ";
}

.sentenceList li:last-child:after {
  content: ".";
}

.sentenceList li:nth-last-child(2):after {
  content: " & ";
}
