@value default-border-radius: 15px;

/* The border-radius shifts text in the excerpt and about the author to the right, let's fix it. */
/* NOTE: I think this is the wrong way, just give it solid border of the same color that is fat enough. */
@value border-radius-offset: 15px;

.mainTitle {
  color: indigo;
  margin-bottom: 6px;
  margin-top: 45px;
  margin-left: border-radius-offset;
}

.statusLine {
  margin-left: border-radius-offset;
}

.excerpt p {
  font-style: italic;
  /* top right bottom left */
  margin: 20px 20px 25px 0;
  padding: 7px 15px 10px 15px;
  background-color: lightblue;
  border-radius: default-border-radius;
}

.post {
  margin-left: border-radius-offset;
}

.post h1, h2, h3, h4, h5, h6 {
  color: darkred;
}

.post li {
  margin: 5px 0;
}

.post ul {
  list-style: none; /* Remove default bullets */
  padding-left: 20px;
}

.post ul li::before {
  content: "\2713";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.post abbr {
  text-decoration: none;
  border-bottom: 2px dotted green;
}

.footer {
  margin: 25px 0;
}

.about {
  background-color: darkseagreen;
  padding: 7px 15px 10px 15px;
  font-style: italic;
  border-radius: default-border-radius;
  margin: 20px 0;
  min-height: 110px; /* 100 is the gravatar size */
}

.newsletter {
  background-color: lightblue;
  padding: 7px 15px 10px 15px;
  border-radius: default-border-radius;
  margin: 20px 0;
}

.newsletter form {
  text-align: center;
}

.newsletter button {
  font-size: 14px;
}

.newsletter input {
  font-size: 14px;
  height: 25px;
  width: 220px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: default-border-radius;
}

/* Classes used within the markdown. */
.post .hashtag {
  color: gray;
  text-decoration: underline;
}

.post img {
  width: 100%;
  display: block;
  border: solid black 1px;
}

/* The override has to be below. */
@media only screen and (min-width: 600px) {
  .post img {
    width: 75%;
    margin: 50px auto;
  }
}

/* .post .hashtag::before { */
/*   content: "#"; */
/* } */
