.form {
  /* top right bottom left */
  margin: 20px 20px 25px 0;
  padding: 7px 15px 10px 15px;
  background-color: lightblue;
  border-radius: 15px;
  text-align: center;
}

.disabled h2 {
  color: darkgrey;
}

.disabled p {
  color: darkgrey;
  font-style: italic;
}

.disabled a {
  color: lightsteelblue;
}
