/* If a link is selected, style it as normal text. */
.selected-link {
  color: inherit;
  text-decoration: inherit;
}

footer {
  padding: 50px 0 60px 0;
  text-align: center;
  background-color: BlanchedAlmond;
}
