/* https://codepen.io/miroot/pen/wiKAp */
.cr {
  width: 200px;
  padding: 16px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
}

/* Positions */
.top    { top: 25px; }
.right  { right: -50px; }

/* Rotations */
.top.left,
.bottom.right {
  transform: rotate(-45deg);
}

.top.right,
.bottom.left {
  transform: rotate(45deg);
}

/* Colours */
.red { background-color: DarkOliveGreen; }
