/* Sticky footer: https://css-tricks.com/couple-takes-sticky-footer */
footer.main {
  height: 50px;
  padding-top: 25px;
  text-align: center;
  background-color: BlanchedAlmond;
}

footer nav ul {
  margin: inherit;
  padding: inherit;
}

footer nav ul li {
  display: inline;
}

footer nav ul li + li::before {
  content: " | ";
}

/* This is in App.module.css */
/* TODO: Find something that can be isolated. */
/* .content { */
/*   min-height: calc(100vh - 100px); /1* Sticky footer. *1/ */
/* } */

